.user-card-link {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  width: 200px;
}
.user-card-container {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(99, 97, 97, 0.781);

  height: fit-content;
  width: 200px;
  padding: 10px;
}

.user-details-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.user-details-box .first-name {
  margin: 10px 0px;
}

.user-details-box .email {
  margin: 10px 0px;
}

.user-image {
  width: 100%;
}

.user-image img {
  width: 100%;
}
